/*
Colours I will use :
#4AADFE - Light blue
#000000
#FFFFFF
#698499 - Blueish grey
*/
body{
    background-color: #4AADFE;
    font-family: 'Work Sans' ;
}
a{
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;

}
a:active{
    color: black;
}
a:hover{
    color: white;
}
nav{
    display: flex;
    justify-content: space-evenly;
}
/* Class for each item in the navigaion bar */
.navitems{
    background-color: #698499;
    width: 33%;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5rem;
    background-image: linear-gradient(white, #4AADFE);
    font-size: xx-large;
}
#mini-header{
    font-weight: 100;
}
/* Screen for phones */
@media screen and (max-width: 600px){
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navitems{
        background-color: #698499;
        width: 100%;
    }
}
